body {
    background: url("../images/backgroundavengers.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    background-attachment: fixed;

}

#startDiv {
    font-size: 5vh;
}

#headShot {
    width: 30vh;
    height: 30vh;
}